@import "../variables.scss";

.navbar {
    @include flex-row;
    height: 6rem;
    min-width: 100%;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 0;

    .github-profile {
        cursor: pointer;
    }

    .navlinks {
        @include flex-row;

        .link {
            padding: 0rem 1.4rem;
        }

        a {
            text-decoration: none;
            color: $fontColorSecondaryDark;
            transition: 0.4s;

            &.active {
                color: $fontColorPrimaryDark
            }
        }
    }
}