@import "../variables.scss";

.project-page {
    background: url("../assets/images/project-background.png");
    background-size: 100%;
    background-repeat: repeat;
    min-height: 100vh;
    height: auto;
    justify-content: center;
    align-items: center;

    .project-page-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        width: 100%;
        padding: 8rem 8rem;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        column-gap: 4rem;
        row-gap: 6rem;
    }

    .page-title-container {
        @include flex-row;
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
        gap: 0.8rem;

        .project-page-title {
            font-size: $fontSizeTitle;
            text-align: center
        }

    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

.project-card {
    @include flex-col;
    gap: 1.2rem;
    min-height: 10rem;
    width: auto;
    padding: 1.4rem;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.1s linear;
    animation: swipe-up 0.8s ease-out;
    outline: 1px solid #404040;
    background-color: $backgroundColorPrimaryDark;


    &:hover {
        outline: 2px solid #999999;
    }

    .section-1 {
        @include flex-row;
        justify-content: space-between;

        a {
            color: $fontColorPrimaryDark
        }

        .title {
            @include flex-row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            font-size: $fontSizeTitle;
            color: $fontSizeTitle;
            text-transform: capitalize;

            &:hover {
                color: $fontColorSecondaryDark;

                image {
                    fill: #32aaff;
                }

            }

            &:hover {
                .link {
                    .link {
                        fill: $fontColorSecondaryDark
                    }
                }
            }

            .link {
                .link {
                    fill: $fontColorPrimaryDark;
                }
            }
        }

        .logo {
            @include flex-row;
            gap: 0.8rem;
        }
    }

    .section-2 {
        font-size: $fontSizeSm;
        color: $fontColorSecondaryDark;
        line-height: 1.150rem;
        // text-align: justify;
        word-spacing: 2px;
    }
}

@keyframes swipe-up {
    0% {
        transform: translateY(20px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.loading-skeleton {
    @include flex-row;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}