// Font-family

//Font-color 
$fontColorPrimaryDark: #ededed;
$fontColorSecondaryDark: #999999;


//Font size
$fontSizeLg: 2.6rem;
$fontSizeMd: 1.4rem;
$fontSizeSm: .900rem;
$fontSizeTitle: 1.2rem;


//Background-color
$backgroundColorPrimaryDark: #141414;
$backgroundColorSecondaryDark: #282828;



//Flex box
@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}




//==========|| media queries ||==========//
//For Mobile
@mixin sm {
    @media screen and (max-width: 480px) {
        @content;
    }
}

//For Tablet
@mixin md {
    @media screen and (min-width: 481px) and (max-width: 768px) {
        @content;
    }
}

//For Laptop
@mixin lg {
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        @content;
    }
}

//For Monitors
@mixin xl {
    @media screen and (min-width: 1025px) and (max-width: 1920px) {
        @content;
    }
}

//For Tv Screen
@mixin xxl {
    @media screen and (min-width: 1921) and (max-width: 2400px) {
        @content;
    }
}